$max-value: 1100px;
$margin-top: 70px;

/*COLORES*/

$whatsapp: #27C34B;
$secundario: #333;
$blanco: #FFFFFF;
$bordes: #ccc;
$rojo: #FF0000;
$negro: #000000;
$card: #EDEDED;

/*MEDIA QUERIES*/

$tablet: 480px;
$escritorio: 992px;