@mixin box-sizing($box-style) {
    box-sizing: $box-style;
}

@mixin button ($background, $letra, $background-hover) {
    /*background: */
    background: $background;
    /*color: */
    color: $letra;
    border: 0;
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $letra;
        /*background-color: ;
        border-color: #bd2130;*/
        background: $background-hover;
    }
}

@mixin flecha-carousel {
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px;
    font-size: 24px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #000!important;
    background: rgba(255, 255, 255, 0.6)!important;
    outline: none;
    &.disabled {
        visibility: hidden;
        opacity: 0;
    }
}

@mixin modal($width, $height, $swidth, $sheight) {
    position: fixed;
    top: 0;
    right: -10px;
    left: -10px;
    bottom: 0;
    z-index: 4000;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    .modal-content {
        width: $swidth;
        height: $sheight;
        overflow-y: auto;
        @include escritorio() {
            width: $width;
            height: $height;
        }
    }
    .modal-header {
        background: $negro;
        color: $blanco;
        height: 4rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        font-weight: bold;
        .modal-title {
            font-size: 1.4rem;
        }
        .modal-close {
            label {
                color: $blanco;
                cursor: pointer;
            }
        }
    }
    .modal-body {
        padding: 1.5rem;
        background: $blanco;
    }
}

@mixin background-image ($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin tablet {
    @media only screen and (min-width: #{ $tablet }) {
        @content;
    }
}

@mixin escritorio {
    @media only screen and (min-width: #{ $escritorio }) {
        @content;
    }
}