.contenido {
    padding: 30px;
    @include escritorio() {
        max-width: $max-value;
        margin: 0 auto;
    }
    &.line-bottom {
        border-bottom: 1px solid $negro;
    }
}

.main {
    margin-top: $margin-top;
}