#mostrar-check {
    display: none;
    &:checked ~ .modal {
        visibility: visible;
        opacity: 1;
    }
}

/*Modal para generar el regalo*/
.modal-regalo {
    @include modal(600px, 400px, 90%, 400px);
    .modal-body-title {
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $negro;
    }
    .modal-body-enlace {
        .form-control {
            width: 100%;
            height: 34px;
            font-size: 1rem;
            margin-top: .5rem;
            padding: 0 .5rem;
        }
        margin-bottom: 1rem
    }
    .modal-body-botones {
        i {
            margin-right: .2rem;
        }
        .btn-copiar {
            @include button($rojo,
            $blanco,
            #c82333);
            margin-bottom: .2rem;
            font-size: 1rem;
        }
        .btn-ver {
            @include button($whatsapp,
            $blanco,
            #1F9D3D);
            margin-bottom: .2rem;
            font-size: 1rem;
        }
        .btn-volver {
            @include button($bordes,
            $blanco,
            #A9A9A9);
            font-size: 1rem;
        }
    }
}

/*Modal para crear el documento PDF*/
.modal-pdf {
    @include modal(96%, 96%, 96%, 96%);
}