.main {
    margin-top: $margin-top;
}

.contenido {
    padding: 25px;
    border-bottom: 1px solid $bordes;
    @include escritorio () {
        max-width: $max-value;
        margin: 0 auto;
    }
}

.regalo {
    .regalo-caratula {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            max-width: 100%;
            padding: .4rem;
            border: 1px solid $bordes;
            border-radius: 5px;
            @include escritorio () {
                width: 600px;
                height: 400px;
            }
        }
    }
    .regalo-contenido {
        display: flex;
        flex-wrap: wrap;
        > div {
            padding: 1.4rem;
        }
        .regalo-portada {
            order: 2;
            flex: 0 1 100%;
            img {
                padding: .4rem;
                border: 1px solid $bordes;
                border-radius: 5px;
            }
            @include escritorio () {
                flex: 1;
                order: 1;
            }
        }
        .regalo-personalizacion {
            order: 1;
            flex: 0 1 100%;
            @include escritorio () {
                flex: 3;
                order: 2;
            }
        }
    }
}

.form-regalo {
    .regalo-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
            font-weight: bold;
        }
        .form-control {
            width: 100%;
            height: 34px;
            font-size: 1rem;
            padding: 0 .5rem;
        }
        textarea[class='form-control']{
            height: 7rem;
            padding: .5rem;
            resize: none;
            @include escritorio () {
                height: 11rem;
            }
        }
        span {
            font-size: .8rem;
            color: $secundario;
        }
    }
    .regalo-actions {
        display: flex;
        flex-direction: column;
        i {
            margin-right: .2rem;
        }
        .form-button-create {
            margin-bottom: .5rem;
            @include button($rojo, $blanco, #c82333);
            font-size: 1rem;
        }
        .form-button-cancel {
            @include button($bordes,
            $blanco,
            #A9A9A9);
            font-size: 1rem;
        }
    }
}

#mostrar-check {
    display: none;
    &:checked ~ .modal {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4000;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    .modal-content {
        background: white;
        width: 90%;
        min-height: 400px;
        border-radius: 5px;
        @include tablet () {
            width: 60%;
            height: 60%;
        }
        @include escritorio() {
            width: 600px;
            height: 400px;
        }
        .modal-header {
            background: $negro;
            color: $blanco;
            height: 4rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.5rem;
            font-weight: bold;
            .modal-title {
                font-size: 1.4rem;
            }
            .modal-close {
                label {
                    color: $blanco;
                    cursor: pointer;
                }
            }
        }
        .modal-body {
            padding: 1.5rem;
            .modal-body-title {
                font-size: 2rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid $negro;
            }
            .modal-body-enlace {
                .form-control {
                    width: 100%;
                    height: 34px;
                    font-size: 1rem;
                    margin-top: .5rem;
                    padding: 0 .5rem;
                }
                margin-bottom: 1rem
            }
            .modal-body-botones {
                i {
                    margin-right: .2rem;
                }
                .btn-copiar {
                    @include button($rojo,
                    $blanco,
                    #c82333);
                    margin-bottom: .2rem;
                    font-size: 1rem;
                }
                .btn-ver {
                    @include button($whatsapp,
                    $blanco,
                    #1F9D3D);
                    margin-bottom: .2rem;
                    font-size: 1rem;
                }
                .btn-volver {
                    @include button($bordes,
                    $blanco,
                    #A9A9A9);
                    font-size: 1rem;
                }
            }
        }
    }
}